<form name="filterForm" id="filterForm" class="filter-content" action="{{siteUrl}}projekty-domov" method="get">

    {% set filterEntry = craft.entries.section('nastavenia').one() %}

    <!-- <h3 class="updated-filter-title">{{ "Filtrovať projekty"|t }}</h3>

    <div class="title">
        <strong>{{ "Filtrovať projekty"|t }}</strong>
    </div> -->

    {% embed '_components/filter/_filter_inputs_new' %}{% endembed %}

    <!-- FILTER BUTTON -->
        <!-- <button type="submit">
            <span>{{ "Filtrovať"|t }}</span>
        </button> -->
    <!-- /FILTER BUTTON -->
</form>