{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block bodyClass %}dom-list-view dom-view{% endblock bodyClass %}
{% block footerScripts %}
    <script src="{{ siteUrl }}assets/js/vendor/angular.min.js"></script>
    <script src="{{ siteUrl }}assets/js/vendor/calculator.min.js?v=1.0.1"></script>
{% endblock footerScripts %}

{# SEOP #}
{% set custom_seo = true %}
{% set finalKeywords = [] %}
{% set finalDescription = [] %}
{% set finalContent = [] %}

{% if entry.seopKeys is not empty %}

    {% for elem in entry.seopKeys %}
        {% set currentLoopIndex = loop.index %}
        {% set keywordIndex = elem.keywordKey - 1 %}
        {% set descriptionIndex = elem.descriptionKey - 1 %}
        {% set contentIndex = elem.contentKey - 1 %}

        {% if entry.seo|length %}
            {% for seoObject in entry.seo %}
                {% if currentLoopIndex == loop.index %}
                    {# Entry keywords #}
                        {% if seoObject.keywords|length and keywordIndex >= 0 %}
                            {% if seoObject.keywords[keywordIndex] is defined %}
                                {% set finalKeywords = finalKeywords|merge([seoObject.keywords[keywordIndex].keyword]) %}
                            {% endif %}
                        {% endif %}

                    {# Entry descriptions #}
                        {% if seoObject.descriptions|length and descriptionIndex >= 0 %}
                            {% if seoObject.descriptions[descriptionIndex] is defined %}
                                {% set finalDescription = finalDescription|merge([seoObject.descriptions[descriptionIndex].description]) %}
                            {% endif %}
                        {% endif %}

                    {# Entry content #}
                        {% if seoObject.contents|length and contentIndex >= 0 %}
                            {% if seoObject.contents[contentIndex] is defined %}
                                {% set finalContent = finalContent|merge([seoObject.contents[contentIndex].content]) %}
                            {% endif %}
                        {% endif %}

                {% endif %}
            {% endfor %}
        {% endif %}

    {% endfor %}

{% endif %}

{% block customSeo %}

    {% set coverImage = entry.vizualy.first().url('houseFacebookOgSize') %}
    <title>{{ entry.nazov }} - {{ siteName }}</title>

    {% if entry.seopKeys is not empty %}

        <!-- SEOP Keywords -->
        <meta name="keywords" content="{{ finalKeywords|join() }}" />

        <!-- SEOP Description -->
        {% set finalDescription = finalDescription|join(' ') %}
        <meta name="description" content="{{ finalDescription }}" />
        <meta property="og:description" content="{{ finalDescription }}" />
        <meta name="twitter:description" content="{{ finalDescription }}" />

        <meta property="fb:app_id" content="">
        <meta property="og:url" content="{{ siteUrl }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ entry.nazov }} - {{ siteName }}" />
        <meta property="og:image" content="{{ coverImage }}" />

        <meta property="og:site_name" content="{{ siteName }}" />
        <meta property="og:locale" content="sk" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="" />
        <meta name="twitter:url" content="{{ siteUrl }}" />
        <meta name="twitter:title" content="{{ entry.nazov }} - {{ siteName }}" />
        <meta name="twitter:image" content="{{ coverImage }}" />

    {% else %}
        {% hook "seo" %}
    {% endif %}

{% endblock customSeo %}

{% block content %}

    {# Calculator #}
        {% set calculatorIsDisabled = false %}
        {% set calculatorData = [] %}
        {% set colA = [] %}
        {% set colC = [] %}
        {% set colD = [] %}
        {% set colHolodom = [] %}
        {% set colNakluc = [] %}

        {% if entry.energClass|length %}
            {% for tableRow in entry.energClass %}
                {% if tableRow.primEnergClass > 0 and tableRow.totalEnergCons > 0 and tableRow.monthlyCost > 0 and tableRow.holodomPrice > 0 and tableRow.kompletPrice > 0 %}
                    {% set colA = colA|merge({(tableRow.type): tableRow.primEnergClass}) %}
                    {% set colC = colC|merge({(tableRow.type): tableRow.totalEnergCons}) %}
                    {% set colD = colD|merge({(tableRow.type): tableRow.monthlyCost}) %}
                    {% set colHolodom = colHolodom|merge({(tableRow.type): tableRow.holodomPrice}) %}
                    {% set colNakluc = colNakluc|merge({(tableRow.type): tableRow.kompletPrice}) %}
                {% endif %}
            {% endfor %}

            {% set calculatorData = calculatorData|merge({'a': colA, 'c': colC, 'd': colD, 'holodom': colHolodom, 'nakluc': colNakluc}) %}

        {% else %}
            {% set calculatorIsDisabled = true %}
        {% endif %}

    <!-- CONTENT CONTAINER -->
        <div class="main grid-2-layout">

            <!-- FILTER + HOUSE LISTING -->
                <div class="filter-house-listing">
                    {% embed '_components/left' %}{% endembed %}

                    <!-- HOUSE LISTING -->
                        <div class="house-listing">
                            <div>
                                {% set filterEntry = craft.entries.section('nastavenia').first() %}

                                {# typ #}
                                    {% set filterUrl = '' %}
                                    {% set filterValue = '' %}
                                    {% for option in filterEntry.typ.options %}
                                        {% if entry.typ == option.value %}
                                            {% set filterUrl = 'typ_' ~ loop.index %}
                                            {% set filterValue = option.value %}
                                        {% endif %}
                                    {% endfor %}

                                <!-- HOUSE DETAILS-->
                                    <div class="house-details _outter">

                                        <div class="house-header">
                                            <div>
                                                <div class="name">
                                                    <div class="counter">#{% if entry.cisloDomu is not empty %}{{ entry.cisloDomu }}{% else %}{{ entry.id }}{% endif %}</div>
                                                    <div>{{ entry.nazov }}</div>
                                                </div>
                                                {% if entry.textNadChiarouDetailView is not empty %}
                                                    <div>
                                                        <div>{{ entry.textNadChiarouDetailView }}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="beadcrumbs">
                                                <a href="{{ siteUrl }}projekty-domov" class="elem">projekty domov</a>
                                                <a href="{{ siteUrl }}filter?{{ filterUrl }}={{ filterValue }}" class="elem">{{ entry.typ.label }}</a>
                                                <div>{{ entry.nazov }}</div>
                                            </div>
                                        </div>

                                        <!-- HEADER DETAILS -->
                                            {% set coverImage = entry.vizualy.first() %}
                                            <img class="mobile-house-cover _details" src="{{ coverImage.url }}" alt="{{ coverImage.title }} - {{ entry.nazov }} | {{ siteName }}" />
                                            <div class="details-header" data-cover="{{ coverImage.url }}" style="background: url({{ coverImage.url }}) no-repeat;background-position: center; background-size: cover">
                                                <div class="details _entry">

                                                    <!-- NAME -->
                                                        <div class="name">
                                                            Volám sa
                                                            <strong>{{ entry.nazov }}</strong>
                                                        </div>
                                                    <!-- /NAME -->

                                                    <!-- SIZE -->
                                                        <div class="size">
                                                            Úžitková<br>plocha
                                                            <strong>{{ entry.uzhitkovaPlocha }} m²</strong>
                                                        </div>
                                                    <!-- /SIZE -->

                                                    <!-- PRICE -->
                                                        <div class="price">
                                                            Komplet<br>s dph
                                                            <strong>{{ entry.kompletSDph|currency('', true) }} €</strong>
                                                        </div>
                                                    <!-- /PRICE -->

                                                    <!-- PROJECT -->
                                                        <div class="project">
                                                            Projekt:
                                                            <strong>{{ entry.projekt|currency('', true) }} €</strong>
                                                            {% if entry.mesacne > 0 %}
                                                                Mesačne <br>len za
                                                                <strong class="monthly">{{ entry.mesacne|currency('', true) }} €</strong>
                                                            {% endif %}
                                                        </div>
                                                    <!-- /PROJECT -->

                                                    <!-- DETAILS LEFT -->
                                                        <div class="details-left">
                                                            <a href="{{ siteUrl }}kontakt" class="contact-redirect">
                                                                <div>Chcem <br>rodinný<br>dom</div>
                                                            </a>
                                                        </div>
                                                    <!-- /DETAILS LEFT -->

                                                </div>

                                                <!-- MOBILE CONTENT -->
                                                    <div class="mobile-details">
                                                        <!-- NAME -->
                                                        <div class="name">
                                                            Volám sa
                                                            <strong>{{ entry.nazov }}</strong>
                                                        </div>
                                                        <!-- /NAME -->

                                                        <!-- SIZE -->
                                                        <div class="size">
                                                            Úžitková plocha
                                                            <strong>{{ entry.uzhitkovaPlocha }} m²</strong>
                                                        </div>
                                                        <!-- /SIZE -->
                                                    </div>
                                                <!-- /MOBILE CONTENT -->
                                            </div>
                                        <!-- /HEADER DETAILS -->

                                        <!-- MOBILE CONTENT OUTTER -->
                                            <div class="mobile-content-outter">
                                                <div class="left-side">
                                                    <div class="grid-list {% if house.mesacne > 0 %} items-3 {% endif %}">
                                                        <!-- SIZE -->
                                                            <div class="size">
                                                                Komplet<br>s dph:
                                                                <strong>{{ entry.kompletSDph|currency('', true) }} €</strong>
                                                            </div>
                                                        <!-- /SIZE -->

                                                        <!-- PROJECT -->
                                                            <div class="project">
                                                                Projekt:
                                                                <strong>{{ entry.projekt|currency('', true) }} €</strong>
                                                            </div>
                                                        <!-- /PROJECT -->

                                                        <!-- MONTHLY -->
                                                            {% if entry.mesacne > 0 %}
                                                                <div class="monthly">
                                                                    Mesačne <br>len za
                                                                    <strong class="monthly">{{ entry.mesacne|currency('', true) }} €</strong>
                                                                </div>
                                                            {% endif %}
                                                        <!-- /MONTHLY -->
                                                    </div>
                                                    <div>
                                                        <div>{{ entry.upperText }}</div>
                                                        <div>{{ entry.bottomText }}</div>
                                                    </div>
                                                </div>
                                                <div class="right-side">
                                                    <a href="{{ siteUrl }}kontakt">
                                                        <div>Mám <br>záujem</div>
                                                        <div></div>
                                                    </a>
                                                </div>
                                            </div>
                                        <!-- /MOBILE CONTENT OUTTER -->

                                        <!-- IMAGE GALLERY -->
                                            <div class="image-gallery">
                                                {% for gallery in entry.vizualy %}
                                                    <div class="{% if loop.index > 3 %}visually-hidden{% endif %}" data-fancybox="gallery" href="{{ gallery.url }}">
                                                        <img src="{{ gallery.url('houseDetailGalleryThumbs') }}" alt="{{ gallery.title }} - {{ entry.nazov }} | Familyhouse">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        <!-- /IMAGE GALLERY -->

                                        <!-- CONTENT -->
                                            <div class="entry-content">
                                                <div>
                                                    <p>{{ finalContent|join(' ') }}</p>
                                                </div>
                                            </div>
                                        <!-- /CONTENT -->

                                        <!-- TABBED DETAILS -->
                                            <div class="tabbed-details">
                                                <div class="tab-header" id="tabbed-swiper--header">
                                                    <!-- TAB BOX -->
                                                        <div class="tab-box active" data-id="0">
                                                            <div>
                                                                <img class="tab-1-img" src="{{ siteUrl }}assets/img/svg/project-description.svg" alt="Hlavná strana rozpis prác">
                                                                <div class="title">Hlavná strana<br>rozpis prác</div>
                                                            </div>
                                                        </div>
                                                    <!-- /TAB BOX -->

                                                    <!-- TAB BOX -->
                                                        <div class="tab-box disabled" data-id="1" title="Táto funkcia bude čoskoro dostupná">
                                                            <div>
                                                                <img src="{{ siteUrl }}assets/img/svg/materials.svg" alt="Vyberte si materiály vášho domu">
                                                                <div class="title">Vyberte si<br>materiály<br>vášho domu</div>
                                                            </div>
                                                        </div>
                                                    <!-- /TAB BOX -->

                                                    <!-- TAB BOX -->
                                                        <div class="tab-box {% if calculatorIsDisabled %} disabled {% endif %}" data-id="2">
                                                            <div>
                                                                <img class="tab-3-img" src="{{ siteUrl }}assets/img/svg/energy-level.svg" alt="Energetický kalkulátor">
                                                                <div class="title">Energetický<br>kalkulátor</div>
                                                            </div>
                                                        </div>
                                                    <!-- /TAB BOX -->

                                                    <!-- TAB BOX -->
                                                        <div class="tab-box" data-id="3">
                                                            <div>
                                                                <img src="{{ siteUrl }}assets/img/svg/house-map.svg" alt="Pôdorys výkres">
                                                                <div class="title">Pôdorys<br>výkres</div>
                                                            </div>
                                                        </div>
                                                    <!-- /TAB BOX -->

                                                    <!-- TAB BOX -->
                                                        <div class="tab-box disabled" data-id="4" title="Táto funkcia bude čoskoro dostupná">
                                                            <div>
                                                                <img class="tab-5-img" src="{{ siteUrl }}assets/img/svg/house-editor.svg" alt="Pôdorys editor">
                                                                <div class="title">Pôdorys<br>editor</div>
                                                            </div>
                                                        </div>
                                                    <!-- /TAB BOX -->
                                                </div>

                                                <div class="tabbed-body" id="tabbed-swiper--body">
                                                    <div class="swiper-container">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide" data-hash="rozpis-prac">

                                                                <!-- TAB 1 -->
                                                                    <div class="tabbed-swiper-content">
                                                                        <div class="tabbed-layout-2-grid">
                                                                            <div>{{ entry.rozpisPracHolodom }}</div>
                                                                            <div>{{ entry.rozpisPracKomplet }}</div>
                                                                        </div>
                                                                    </div>
                                                                <!-- /TAB 1 -->

                                                            </div>
                                                            <div class="swiper-slide" data-hash="materialy-vasho-domu">

                                                                <!-- TAB 2 -->
                                                                <div class="tabbed-swiper-content">
                                                                    2
                                                                </div>
                                                                <!-- /TAB 2 -->

                                                            </div>
                                                            <div class="swiper-slide" data-hash="energeticky-kalkulator">

                                                                <!-- TAB 3 -->
                                                                    <div class="tabbed-swiper-content">

                                                                        <!-- CALCULATOR DESCRIPTION -->
                                                                            <p>Pri každej kalkulácií treba zohľadniť dve zásadné položky: 1. ročná potreba tepla na vykurovanie, 2. ročná potreba energie na vykurovanie a prípravu teplej úžitkovej vody.</p>
                                                                            <p>Z týchto dvoch položiek sa potom vypočíta hodnota celkovej potreby energie a primámej energie, podľa ktorej sa určí energetická trieda rodinného domu. Ročná potreba tepla na vykurovanie závisí od tepelných strát domu. Obaľové konštrukcie sú navrhnuté tak aby spľňali požiadavku normy STN 73 0540-2 (Tepelná ochrana budov) z hľadiska hodnoty tepelného odporu. Nastaviť tieto hodnoty v kalkulátore nie sú možné, lebo počet variantov je nekonečný. V pripade zmeny hrúbiek tepelných izolácií, hodnotu celkovej potreby energie vypočítame na daný dom individuálne.</p>
                                                                        <!-- /CALCULATOR DESCRIPTION -->

                                                                        <!-- MAIN CALCULATOR -->
                                                                            <div class="calculator-body" ng-app="calculator" ng-controller="calcCtrl" ng-init="setHouseType('{{ entry.nazov }}')" data-calculator-data="{{ calculatorData|json_encode() }}">
                                                                                <h3>Energetický kalkulátor</h3>
                                                                                <div>
                                                                                    <!-- LEFT CONTROL PANEL -->
                                                                                        <div class="control-panel">

                                                                                            <!-- CONTROL BLOCK -->
                                                                                                <div class="control-block">
                                                                                                    <div class="title">Zdroj tepla</div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="a" type="radio" id="a1" ng-checked="calcVals[0].part1=='1'" ng-click="changePart1('1','plynový kondenzačný kotoľ')" checked="checked">
                                                                                                        <label for="a1"><span></span>plynový kondenzačný kotoľ</label>
                                                                                                    </div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="a" type="radio" id="a2" ng-checked="calcVals[0].part1=='2'" ng-click="changePart1('2','splyňovací kotoľ na tuhé palivo')">
                                                                                                        <label for="a2"><span></span>splyňovací kotoľ na tuhé palivo</label>
                                                                                                    </div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="a" type="radio" id="a3" ng-checked="calcVals[0].part1=='3'" ng-click="changePart1('3','tepelné čerpadlo')">
                                                                                                        <label for="a3"><span></span>tepelné čerpadlo</label>
                                                                                                    </div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="a" type="radio" id="a4" ng-checked="calcVals[0].part1=='4'" ng-click="changePart1('4','elektrické vykurovanie')">
                                                                                                        <label for="a4"><span></span>elektrické vykurovanie</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            <!-- /CONTROL BLOCK -->

                                                                                            <!-- CONTROL BLOCK -->
                                                                                                <div class="control-block">
                                                                                                    <div class="title">Odovzdávací systém</div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="b" type="radio" id="b1" ng-checked="calcVals[0].part2=='1'" ng-click="changePart2('1','teplovodné vykurovacie telesá - radiátory')" ng-disabled="calcVals[0].part1=='3' || calcVals[0].part1=='4'" checked="checked">
                                                                                                        <label for="b1"><span></span>teplovodné vykurovacie telesá - radiátory</label>
                                                                                                    </div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="b" type="radio" id="b2" ng-checked="calcVals[0].part2=='2'" ng-click="changePart2('2','teplovodné podlahové kúrenie')" ng-disabled="calcVals[0].part1=='4'">
                                                                                                        <label for="b2"><span></span>teplovodné podlahové kúrenie</label>
                                                                                                    </div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="b" type="radio" id="b3" ng-checked="calcVals[0].part2=='3'" ng-click="changePart2('3','stropné kúrenie (s možnosťou chladenia)')" ng-disabled="calcVals[0].part1=='1' || calcVals[0].part1=='2' || calcVals[0].part1=='4'" disabled="disabled">
                                                                                                        <label for="b3"><span></span>stropné kúrenie (s možnosťou chladenia)</label>
                                                                                                    </div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="b" type="radio" id="b4" ng-checked="calcVals[0].part2=='4'" ng-click="changePart2('4','elektrické podlahové kúrenie s termokáblami')" ng-disabled="calcVals[0].part1=='1' || calcVals[0].part1=='2' || calcVals[0].part1=='3'" disabled="disabled">
                                                                                                        <label for="b4"><span></span>elektrické podlahové kúrenie s termokáblami</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            <!-- /CONTROL BLOCK -->

                                                                                            <!-- CONTROL BLOCK -->
                                                                                                <div class="control-block">
                                                                                                    <div class="title">Rekuperácia</div>
                                                                                                    <div class="field-group">
                                                                                                        <input name="c" type="checkbox" id="c1" ng-checked="calcVals[0].part3=='1'" ng-click="changePart3()">
                                                                                                        <label for="c1"><span></span>rekuperácia - umelé vetranie bez tepelných strát (cez vzdušný výmenník tepla)</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            <!-- /CONTROL BLOCK -->

                                                                                        </div>
                                                                                    <!-- /LEFT CONTROL PANEL -->

                                                                                    <!-- RIGHT 2 COL -->
                                                                                        <div class="result-col col-first">
                                                                                            <div class="title">Rodinný dom s vybeveným:</div>
                                                                                            <p>
                                                                                                {[{calcVals[1].row1}]}<br>
                                                                                                {[{calcVals[1].row2}]}<br>
                                                                                                {[{calcVals[1].row3}]}
                                                                                            </p>

                                                                                            <div class="result-visual">
                                                                                                <img ng-src="{{ siteUrl }}assets/img/calculator/class_{[{calcVals[1].eclass}]}.png" alt=""/>
                                                                                            </div>

                                                                                            <div class="results">
                                                                                                <div class="results-row">
                                                                                                    <div>Primárna energia na m2:</div>
                                                                                                    <strong>{[{calcVals[1].primar}]} kWh/rok*m<sup>2</sup></strong>
                                                                                                </div>
                                                                                                <div class="results-row">
                                                                                                    <div>Energetická trieda:</div>
                                                                                                    <strong class="eclass eclass_{[{calcVals[1].eclass}]}">{[{calcVals[1].eclass}]}</strong>
                                                                                                </div>
                                                                                                <div class="results-row">
                                                                                                    <div>Celková ročná potreba energie:</div>
                                                                                                    <strong>{[{calcVals[1].total}]} kWh/rok</strong>
                                                                                                </div>
                                                                                                <div class="results-row">
                                                                                                    <div>Náklady na mesačnú réžiu:</div>
                                                                                                    <strong class="with-bg">{[{calcVals[1].costs}]} &euro;</strong>
                                                                                                </div>

                                                                                                <div class="price-row">
                                                                                                    <div>
                                                                                                        <div>Holodom</div>
                                                                                                        <strong>{[{calcVals[1].holodom | number : 2}]} &euro;</strong>
                                                                                                    </div>
                                                                                                    <div>
                                                                                                        <div>Komplet</div>
                                                                                                        <strong>{[{calcVals[1].housekey | number : 2}]} &euro;</strong>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                            <!-- SIDE SWITCHER -->
                                                                                                <div class="side-switcher-container" ng-click="toggleSide()" ng-class="{'on': sideIsRight()}">
                                                                                                    <div>
                                                                                                        <input name="r" type="checkbox" id="r1"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                            <!-- /SIDE SWITCHER -->

                                                                                        </div>
                                                                                        <div class="result-col col-second">
                                                                                            <div class="title">Rodinný dom s vybeveným:</div>
                                                                                            <p>
                                                                                                {[{calcVals[2].row1}]}<br>
                                                                                                {[{calcVals[2].row2}]}<br>
                                                                                                {[{calcVals[2].row3}]}
                                                                                            </p>

                                                                                            <div class="result-visual">
                                                                                                <img ng-src="{{ siteUrl }}assets/img/calculator/class_{[{calcVals[2].eclass}]}.png" alt=""/>
                                                                                            </div>

                                                                                            <div class="results">
                                                                                                <div class="results-row">
                                                                                                    <div>Primárna energia na m2:</div>
                                                                                                    <strong>{[{calcVals[2].primar}]} kWh/rok*m<sup>2</sup></strong>
                                                                                                </div>
                                                                                                <div class="results-row">
                                                                                                    <div>Energetická trieda:</div>
                                                                                                    <strong class="eclass eclass_{[{calcVals[2].eclass}]}">{[{calcVals[2].eclass}]}</strong>
                                                                                                </div>
                                                                                                <div class="results-row">
                                                                                                    <div>Celková ročná potreba energie:</div>
                                                                                                    <strong>{[{calcVals[2].total}]} kWh/rok</strong>
                                                                                                </div>
                                                                                                <div class="results-row">
                                                                                                    <div>Náklady na mesačnú réžiu:</div>
                                                                                                    <strong class="with-bg">{[{calcVals[2].costs}]} &euro;</strong>
                                                                                                </div>

                                                                                                <div class="price-row">
                                                                                                    <div>
                                                                                                        <div>Holodom</div>
                                                                                                        <strong>{[{calcVals[2].holodom | number : 2}]} &euro;</strong>
                                                                                                    </div>
                                                                                                    <div>
                                                                                                        <div>Komplet</div>
                                                                                                        <strong>{[{calcVals[2].housekey | number : 2}]} &euro;</strong>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    <!-- /RIGHT 2 COL -->
                                                                                </div>
                                                                            </div>
                                                                        <!-- /MAIN CALCULATOR -->

                                                                        <p>Uvedené ceny nezahŕňajú pripojenia na inžinierske siete.</p>
                                                                        <p>V kalkulácii "Náklady na mesačnú réžiu" nie je zahrnutá pevná mesačná zložka podľa ampérickej hodnoty hlavného ističa a pevná mesačná platba za jedno odberné miesto. Uvedené režijné náklady sú vypočítané podľa výhrevnosti palív, účinnosti tepelného zdroja, aktuálnych cien palív a elektrickej energie.</p>
                                                                        <p>Uvedené energetické hodnoty nie sú dokonalo presné, môžu sa líšiť pri inej orientácii domov k svetovým stranám. Primárnou nazývame energiu vo forme, v akej sa vyskytujev prírode (napr.: uhlie, ropa, zemný plyn, drevo, vietor, vodná energia, prírodný urán, slnečné žiarenie). Pri výpočte primárnej energie sa ročná potreba energie vynásobý s príslušným váhovým faktorom používanej primárnej energie a tiež sa určí množstvo emisií CO2. Preto primárna energia podľa čoho sa dom zaradí do energetickej triedy nie je priamo úmerná s mesačnými nákladmi.</p>

                                                                    </div>
                                                                <!-- /TAB 3 -->

                                                            </div>
                                                            <div class="swiper-slide" data-hash="podorys-vykres">

                                                                <!-- TAB 4 -->
                                                                    <div class="tabbed-swiper-content">

                                                                        <!-- MAP AREA -->
                                                                            <div class="map-area-grid">
                                                                                <div>
                                                                                    <div id="map-area-swiper-container">
                                                                                        <div class="swiper-container">
                                                                                            <div class="swiper-wrapper">
                                                                                                {% for gallery in entry.podorysVykres %}
                                                                                                    <div class="swiper-slide">
                                                                                                        <div data-fancybox="gallery" href="{{ gallery.url }}">
                                                                                                            <img src="{{ gallery.url }}" alt="{{ gallery.title }} - {{ entry.nazov }} | {{ siteName }}">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        </div>
                                                                                        <!--<div class="swiper-pagination"></div>-->
                                                                                    </div>
                                                                                </div>
                                                                                <div class="table-details">

                                                                                    <div class="table">
                                                                                        <div class="title">Legenda miestnosti</div>
                                                                                    </div>

                                                                                    <!-- DETAILS TABLE -->
                                                                                        {% if entry.legendaMiestnosti1Poschodie|length %}
                                                                                            <div class="table">
                                                                                                {% for table in entry.legendaMiestnosti1Poschodie %}
                                                                                                    <div class="{% if table.kiemelt %}bordered{% endif %}">
                                                                                                        <div>{{ table.subject }}</div>
                                                                                                        <div>{{ table.value }}</div>
                                                                                                    </div>
                                                                                                {% endfor %}

                                                                                                {% if entry.legendaMiestnosti2Poschodie|length %}
                                                                                                    {% for table in entry.legendaMiestnosti2Poschodie %}
                                                                                                        <div class="{% if table.kiemelt %}bordered{% endif %}">
                                                                                                            <div>{{ table.subject }}</div>
                                                                                                            <div>{{ table.value }}</div>
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                                                {% endif %}

                                                                                                {% if entry.legendaMiestnostiUzitkovaPlocha|length %}
                                                                                                    {% for table in entry.legendaMiestnostiUzitkovaPlocha %}
                                                                                                        <div class="{% if table.kiemelt %}bordered{% endif %}">
                                                                                                            <div>{{ table.subject }}</div>
                                                                                                            <div>{{ table.value }}</div>
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    <!-- /DETAILS TABLE -->

                                                                                </div>
                                                                            </div>
                                                                        <!-- /MAP AREA -->

                                                                    </div>
                                                                <!-- /TAB 4 -->

                                                            </div>
                                                            <div class="swiper-slide" data-hash="podorys-editor">

                                                                <!-- TAB 5 -->
                                                                <div class="tabbed-swiper-content">
                                                                    5
                                                                </div>
                                                                <!-- /TAB 5 -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- /TABBED DETAILS -->

                                    </div>
                                <!-- HOUSE DETAILS-->

                                {% if entry.podobneDomy is not empty %}

                                    <!-- RELATED HOUSES -->
                                        <div class="related-houses">
                                            <h2 class="plain">Podobné domy</h2>

                                            <div id="related-list-container">
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        {% for house in entry.podobneDomy %}

                                                            <div class="swiper-slide">
                                                                <!-- HOUSE ELEM -->
                                                                    <a href="{{ house.url }}" class="house-elem">
                                                                        {% set houseCover = house.vizualy.first() %}
                                                                        <img src="{{ houseCover.url('relatedHousesCover') }}" alt="{{ houseCover.title }} - {{ entry.nazov }} | Familyhouse" />
                                                                        <div class="details">
                                                                            <div class="top">
                                                                                <div class="name">
                                                                                    <div class="counter">#{{ house.id }}</div>
                                                                                    <div>{{ house.nazov }}</div>
                                                                                </div>

                                                                                {% if house.stitok != '' %}
                                                                                    <div class="label" style="background: {{ house.stitokFarba.value }} ">
                                                                                        <div>{{ house.stitok }}</div>
                                                                                    </div>
                                                                                {% endif %}

                                                                            </div>
                                                                            <div class="bottom">
                                                                                <div class="box"></div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                <!-- /HOUSE ELEM -->
                                                            </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="swiper-button-next"></div>
                                            </div>
                                        </div>
                                    <!-- /RELATED HOUSES -->

                                {% endif %}

                            </div>
                        </div>
                    <!-- /HOUSE LISTING -->
                </div>
            <!-- /FILTER + HOUSE LISTING -->

        </div>
    <!-- /CONTENT CONTAINER -->

{% endblock %}
