<div></div>
<div class="empty" style="font-size: 18px;text-align: center;">
    <p>{{  "Nenašli ste Váš vysnívaný dom? My Vám to naprojektujeme podľa Vašich predstáv."|t  }}</p>
    <a href="{{ siteUrl }}kontakt">
        <span style="padding: 5px 10px;">{{  "Kontaktujte nás"|t }}</span>
    </a>
</div>