<!--{% set filterEntry = craft.entries.section('nastavenia').first() %}-->

<!--&lt;!&ndash; FILTER volitelne &ndash;&gt;-->
<!--{# Filter volitelne #}-->
<!--{# volitelne #}-->
<!--    {% set volitelneArray = [] %}-->
<!--        {% for option in filterEntry.volitelne.options %}-->
<!--            {% set filterVolitelne = craft.app.request.getParam('volitelne_' ~ loop.index) %}-->
<!--            {% if filterVolitelne is not empty %}-->
<!--                {% set volitelneArray = volitelneArray|merge([filterVolitelne]) %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--    {% set finalFilteredHousesListAll = [] %}-->
<!--    {% set finalFilteredHousesList = [] %}-->
<!--    {% set finalFilteredHousesList2 = [] %}-->
<!--    {% if volitelneArray is not empty %}-->
<!--        {% for house in craft.entries.section('dom') %}-->
<!--            {% set _added = false %}-->
<!--            {% for volitelneParam in volitelneArray %}-->
<!--                {% if house.volitelne.contains(volitelneParam) and _added == false %}-->
<!--                    {% set finalFilteredHousesList2 = finalFilteredHousesList2|merge([house.id]) %}-->
<!--                    {% set _added = true %}-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
<!--&lt;!&ndash; FILTER volitelne &ndash;&gt;-->

<!--{# defaults #}-->
<!--{% if finalFilteredHousesList2 is empty %}-->
<!--    {% set queryParams = {-->
<!--            section: 'dom',-->
<!--            limit: settings.houseListCountListView-->
<!--        }-->
<!--    %}-->
<!--{% else %}-->
<!--    {% set queryParams = {-->
<!--            section: 'dom'-->
<!--        }-->
<!--    %}-->
<!--{% endif %}-->

<!--{% set filterTitle %}Rodinné <i>domy</i>{% endset %}-->
<!--{% set comingSoon = false %}-->
<!--{% set filterIsEmpty = false %}-->

<!--{# typ #}-->
<!--    {% set typArray = [] %}-->
<!--    {% for option in filterEntry.typ.options %}-->
<!--        {% set filterTyp = craft.app.request.getParam('typ_' ~ loop.index) %}-->
<!--        {% if filterTyp is not empty %}-->
<!--            {% set typArray = typArray|merge([filterTyp]) %}-->

<!--            {% if loop.index == 2 %}-->
<!--                {% set filterTitle %}Klasické <i>domy</i>{% endset %}-->
<!--            {% endif %}-->

<!--            {% if loop.index == 3 %}-->
<!--                {% set filterTitle %}Pasívne <i>domy</i>{% endset %}-->
<!--                {% set comingSoon = false %}-->
<!--            {% endif %}-->

<!--            {% if loop.index == 4 %}-->
<!--                {% set filterTitle %}Exkluzívne <i>domy</i>{% endset %}-->
<!--                {% set comingSoon = false %}-->
<!--            {% endif %}-->

<!--        {% endif %}-->
<!--    {% endfor %}-->

<!--    {% if typArray|length > 1 %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            typ: typArray,-->
<!--        }) %}-->
<!--    {% else %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            typ: typArray,-->
<!--        }) %}-->
<!--    {% endif %}-->

<!--{# podlaznost #}-->
<!--    {% set podlaznostArray = [] %}-->
<!--    {% for option in filterEntry.podlaznost.options %}-->
<!--        {% set filterPodlaznost = craft.app.request.getParam('podlaznost_' ~ loop.index) %}-->
<!--        {% if filterPodlaznost is not empty %}-->
<!--            {% set podlaznostArray = podlaznostArray|merge([filterPodlaznost]) %}-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

<!--    {% if podlaznostArray|length > 1 %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            podlaznost: podlaznostArray,-->
<!--        }) %}-->
<!--    {% else %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            podlaznost: podlaznostArray,-->
<!--        }) %}-->
<!--    {% endif %}-->

<!--{# strecha #}-->
<!--    {% set strechaArray = [] %}-->
<!--    {% for option in filterEntry.strecha.options %}-->
<!--        {% set filterStrecha = craft.app.request.getParam('strecha_' ~ loop.index) %}-->
<!--        {% if filterStrecha is not empty %}-->
<!--            {% set strechaArray = strechaArray|merge([filterStrecha]) %}-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

<!--    {% if strechaArray|length > 1 %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            strecha: strechaArray,-->
<!--        }) %}-->
<!--    {% else %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            strecha: strechaArray,-->
<!--        }) %}-->
<!--    {% endif %}-->

<!--{# metraz #}-->
<!--    {% set metrazArray = [] %}-->
<!--    {% for option in filterEntry.metraz.options %}-->
<!--        {% set filterMetraz = craft.app.request.getParam('metraz_' ~ loop.index) %}-->
<!--        {% if filterMetraz is not empty %}-->
<!--            {% set metrazArray = metrazArray|merge([filterMetraz]) %}-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

<!--    {% if metrazArray|length > 1 %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            metraz: metrazArray,-->
<!--        }) %}-->
<!--    {% else %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            metraz: metrazArray,-->
<!--        }) %}-->
<!--    {% endif %}-->

<!--{# izby #}-->
<!--    {% set izbyArray = [] %}-->
<!--    {% for option in filterEntry.izby.options %}-->
<!--        {% set filterIzby = craft.app.request.getParam('izby_' ~ loop.index) %}-->
<!--        {% if filterIzby is not empty %}-->
<!--            {% set izbyArray = izbyArray|merge([filterIzby]) %}-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

<!--    {% if izbyArray|length > 1 %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            izby: izbyArray,-->
<!--        }) %}-->
<!--    {% else %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            izby: izbyArray,-->
<!--        }) %}-->
<!--    {% endif %}-->

<!--{# garaz #}-->
<!--    {% set garazArray = [] %}-->
<!--    {% for option in filterEntry.garaz.options %}-->
<!--        {% set filterGaraz = craft.app.request.getParam('garaz_' ~ loop.index) %}-->
<!--        {% if filterGaraz is not empty %}-->
<!--            {% set garazArray = garazArray|merge([filterGaraz]) %}-->
<!--        {% endif %}-->
<!--    {% endfor %}-->

<!--    {% set garageTmp = garazArray.join(' and ') %}-->

<!--    {% if garazArray|length > 1 %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            garaz: garazArray,-->
<!--        }) %}-->
<!--    {% else %}-->
<!--        {% set queryParams = queryParams|merge({-->
<!--            garaz: garazArray,-->
<!--        }) %}-->
<!--    {% endif %}-->

<!--{% set filterQueryString = craft.app.request.getQueryStringWithoutPath() %}-->
<!--{% set filteredHousesList = craft.entries(queryParams) %}-->

<!--&lt;!&ndash; FILTER volitelne part2 -&ndash;&gt;-->
<!--{% if typArray|length > 0 or podlaznostArray|length > 0 or strechaArray|length > 0 or metrazArray|length > 0 or izbyArray|length > 0 or garazArray|length > 0 %}-->
<!--    {% set filterIsEmpty = true %}-->
<!--{% endif %}-->

<!--{% if finalFilteredHousesList2 is not empty %}-->
<!--    {% if filteredHousesList is not empty %}-->
<!--        {% for mergeHouse in filteredHousesList %}-->
<!--            {% if mergeHouse.id in finalFilteredHousesList2 == false  and filterIsEmpty == true %}-->
<!--                {% set finalFilteredHousesList2 = finalFilteredHousesList2|merge([mergeHouse.id]) %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--        {% set queryParams = {-->
<!--                section: 'dom',-->
<!--                limit: settings.houseListCountListView,-->
<!--                id: finalFilteredHousesList2-->
<!--            }-->
<!--        %}-->
<!--        {% set filteredHousesList = craft.entries(queryParams) %}-->
<!--    {% endif %}-->
<!--{% else %}-->
<!--    {% set queryParams = {-->
<!--            section: 'dom',-->
<!--            limit: settings.houseListCountListView,-->
<!--            id: finalFilteredHousesList2-->
<!--        }-->
<!--    %}-->
<!--{% endif %}-->
<!--&lt;!&ndash; /FILTER volitelne part2 -&ndash;&gt;-->

<!--{% paginate filteredHousesList as paginateInfo, houses %}-->

<!--<a class="h2-container" href="{{ siteUrl }}projekty-domov" data-params-data="{{ volitelneArray|json_encode() }}" data-ids-data="{{ finalFilteredHousesList2|json_encode() }}">-->
<!--    <h2>{{ filterTitle }}</h2>-->
<!--</a>-->

<!--&lt;!&ndash; LISTING &ndash;&gt;-->
<!--    <div class="list {% if comingSoon %}coming-soon-list{% endif %}">-->

<!--        {% if comingSoon %}-->
<!--            <div class="comin-soon">Coming soon</div>-->
<!--        {% else %}-->

<!--        {% for entry in houses %}-->

<!--        &lt;!&ndash; HOUSE ELEM &ndash;&gt;-->
<!--        <a href="{{ entry.url }}{% if filterQueryString is not empty%}?{{ filterQueryString }}{% endif %}" class="house-elem">-->
<!--            {% set cover = entry.vizualy.first() %}-->
<!--            <img src="{{ cover.url('houseDetailGalleryThumbs') }}" alt="{{ cover }} - {{ entry.nazov }}" />-->

<!--            <div class="details">-->
<!--                <div class="top">-->
<!--                    <div class="name">-->
<!--                        <div class="counter">#{% if entry.cisloDomu is not empty %}{{ entry.cisloDomu }}{% else %}{{ entry.id }}{% endif %}</div>-->
<!--                        <div>{{ entry.nazov }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="bottom">-->

<!--                    {% if entry.stitok != '' %}-->
<!--                    <div class="label" style="background: {{ entry.stitokFarba.value }} ">-->
<!--                        <div>{{ entry.stitok }}</div>-->
<!--                    </div>-->
<!--                    {% endif %}-->

<!--                    <div class="box"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            {% set finalContent = [] %}-->
<!--            {% if entry.seopKeys is not empty %}-->

<!--            {% for elem in entry.seopKeys %}-->
<!--            {% set currentLoopIndex = loop.index %}-->
<!--            {% set contentIndex = elem.contentKey - 1 %}-->

<!--            {% if entry.seo|length %}-->
<!--            {% for seoObject in entry.seo %}-->
<!--            {% if currentLoopIndex == loop.index %}-->
<!--            {# Entry content #}-->
<!--            {% if seoObject.contents|length and contentIndex >= 0 %}-->
<!--            {% if seoObject.contents[contentIndex] is defined %}-->
<!--            {% set finalContent = finalContent|merge([seoObject.contents[contentIndex].content]) %}-->
<!--            {% endif %}-->
<!--            {% endif %}-->

<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--            {% endif %}-->

<!--            {% endfor %}-->

<!--            {% endif %}-->

<!--            &lt;!&ndash; DETAILS BOTTOM &ndash;&gt;-->
<!--            <div class="details-bottom">-->
<!--                <div class="short-description">-->
<!--                    {% if finalContent|length %}-->
<!--                    <p>{{ finalContent|join(' ') }}</p>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="info-grid">-->
<!--                    <div>-->
<!--                        <div class="row">-->
<!--                            <div class="label">Úžitková plocha</div>-->
<!--                            <div>{{ entry.uzhitkovaPlocha }} m<sup>2</sup></div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="label">Cena projektu</div>-->
<!--                            <div>{{ entry.projekt|currency('', true) }} &euro;</div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="label">Cena holodomu</div>-->
<!--                            <div>{{ entry.holodomSDph|currency('', true) }} &euro;</div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="label">Cena komplet</div>-->
<!--                            <div>-->
<!--                                <strong class="red">{{ entry.kompletSDph|currency('', true) }} &euro;</strong>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="interest">-->
<!--                        <div>Mám <br>záujem</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /DETAILS BOTTOM &ndash;&gt;-->
<!--        </a>-->
<!--        &lt;!&ndash; /HOUSE ELEM &ndash;&gt;-->

<!--        {% endfor %}-->
<!--        {% endif %}-->

<!--    </div>-->
<!--&lt;!&ndash; /LISTING &ndash;&gt;-->

<!--{% if filteredHousesList|length > 0 %}-->
<!--{% set queryString      = craft.app.request.getQueryStringWithoutPath() %}-->
<!--{% set queryStringFull  = (queryString is not empty) ? '?' ~ queryString : '' %}-->

<!--{% if paginateInfo.nextUrl %}-->
<!--<a href="{{ paginateInfo.nextUrl ~ queryStringFull }}">-->
<!--    <span>{{ settings.houseListCountListView }} ďalsích...</span>-->
<!--</a>-->
<!--{% endif %}-->
<!--{% endif %}-->
