<footer class="checkout">
    <div class="container">
        <div class="one">
            <a class="line">
                <img src="{{ sitebase }}assets/new/img/logo-white.svg" alt="home">
            </a>
            <div class="contact">
                <!-- <h3>Family House s.r.o.</h3> -->
                <div class="grp">
                    <div class="line">Radničné Námestie 5612/19</div>
                    <div class="line">92901 Dunajská Streda</div>
                </div>
                <div class="grp">
                    <a class="line" href="tel:+421948141840">+421 948 141 840</a>
                    <a href="mailto:office@familyhouse.sk" class="line">office@familyhouse.sk</a>
                </div>
                <div class="grp">
                    <div class="line">IČO: 51 970 139</div>
                    <div class="line">IČ DPH: SK 5100000970139</div>
                </div>
            </div>
        </div>
        <div class="two">
            <a class="line cent">
                <p>
                    Postavili sme domovy pre
                </p>
                <div class="numb">
                    300
                </div>
                <p>
                    rodín
                </p>
            </a>
            <a class="line">
                <div class="red-inline">270</div>
                bytových projektov
            </a>
            <a class="line">
                <div class="red-inline">20</div>
                rokov na trhu
            </a>
            <div class="pins">
                <img src="{{ sitebase }}assets/new/img/face.svg" alt="">
                <img src="{{ sitebase }}assets/new/img/insta.svg" alt="">
                <img src="{{ sitebase }}assets/new/img/linkedin.svg" alt="">
                <img src="{{ sitebase }}assets/new/img/pinterest.svg" alt="">
            </div>
        </div>
        <div class="three">
            <div class="grp">
                <a href="{{ craft.entries().slug('o-nás-kontakty').one().url }}" class="line">O nás / náš team</a>
                <a href="{{ craft.entries().slug('cenník-služieb').one().url }}" class="line">Cenník služieb</a>
                <a href="{{ craft.entries().slug('cenová-ponuka-do-3-dní').one().url }}" class="line">Cenová ponuka do 3 dní</a>
            </div>
            <div class="grp">
                <a href="https://familyhouse.sk/2020/spytajte" class="line">Spýtajte sa</a>
                <a href="https://familyhouse.sk/2020/projekty-domov" class="line">Katalóg</a>
                <a href="https://familyhouse.sk/2020/zlavy" class="line">Registrácia do Family Klubu</a>
            </div>
            <div class="grp">
                <a href="{{ craft.entries().slug('faq').one().url }}" class="line">FAQ</a>
                <a href="" class="line">Cookies</a>
                <a href="" class="line">Obchodné podmienky</a>
            </div>
        </div>
    </div>
</footer>