<header class="top-menu">
    <div class="menu-fold">
        <div class="info">
            <span>informácie</span>
            <div class="close">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="menu-grid">
            <div class="top-row">
                <a class="item">Projekty domov</a>
                <a class="item">Stavba Domu</a>
                <a class="item">Referencie</a>
                <a class="item">Dizajn</a>
            </div>
            <div class="col">
                <div class="block">
                    <a class="line">o nas</a>
                    <a class="line">nase sluzby</a>
                    <a class="line">family klub</a>
                    <a class="line">nas team</a>
                    <a class="line">kontakt</a>
                    <img src="{{ sitebase }}assets/new/img/menu/aboutusicon.svg" alt="">
                </div>
                <div class="block">
                    <a class="line">referencie</a>
                    <a class="line">recenzia</a>
                    <a class="line">napisali o nas</a>
                    <img src="{{ sitebase }}assets/new/img/menu/referencieicon.svg" alt="">
                </div>
                <div class="block">
                    <a class="line">interierovy design</a>
                    <a class="line">materialy</a>
                    <a class="line">popis stylov</a>
                    <img src="{{ sitebase }}assets/new/img/menu/interior.svg" alt="">
                </div>
            </div>
            <div class="col">
                <div class="block">
                    <a class="line">projekty</a>
                    <a class="line">projekty domov</a>
                    <a class="line">individualny projekt domu</a>
                    <a class="line">projektovanie bytovych domov</a>
                    <a class="line">projektovanie komercnych budov</a>
                    <a class="line">zakladne informacie o projektoch</a>
                    <img src="{{ sitebase }}assets/new/img/menu/projektyicon.svg" alt="">
                </div>
                <div class="block">
                    <a class="line">stavba</a>
                    <a class="line">stavba bytovych domov</a>
                    <a class="line">stavba komercnych budov</a>
                    <a class="line">dopravne stavby / inzinierske siete</a>
                    <a class="line">zakladne informacie o stavbach</a>
                    <img src="{{ sitebase }}assets/new/img/menu/stavbaicon.svg" alt="">
                </div>
            </div>
            <div class="col">
                <div class="block">
                    <a class="line">preco si nas vybrat?</a>
                    <a class="line">mate zaujem o ponuku?</a>
                    <a class="line">ake su vyhody family klub?</a>
                    <a class="line">stavat svojpomocne?</a>
                    <a class="line">porovnajte s konkurenciou!</a>
                    <img src="{{ sitebase }}assets/new/img/menu/help.svg" alt="">
                </div>
                <div class="block">
                    <a class="line">vypocet hypoteky</a>
                    <img src="{{ sitebase }}assets/new/img/menu/moneyicon.svg" alt="">
                </div>
                <div class="block">
                    <a class="line">faq</a>
                    <a class="line">clanky / blog</a>
                    <a class="line">kontakt</a>
                    <img src="{{ sitebase }}assets/new/img/menu/faqicon.svg" alt="">
                    <div class="lang">
                        <a class="">
                            <div>slovensky</div>
                            <img src="{{ sitebase }}assets/new/img/menu/sk.svg" alt="">
                        </a>
                        <a class="">
                            <div>magyar</div>
                            <img src="{{ sitebase }}assets/new/img/menu/hu.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="logo">
        <img src="{{ sitebase }}assets/new/img/familyhouse-logo.svg" alt="home">
    </a>
    <nav>
        <ul>
            <li><a href="" class="menu-item tyrk">
                <div>projekty domov</div>
                <img src="{{ sitebase }}assets/new/img/downarrow.svg" alt="">
            </a></li>
            <li><a href="" class="menu-item">
                <div>stavba domu</div>
                <img src="{{ sitebase }}assets/new/img/downarrow.svg" alt="">
            </a></li>
            <li><a href="" class="menu-item">
                <div>referencie</div>
                <img src="{{ sitebase }}assets/new/img/downarrow.svg" alt="">
            </a></li>
            <li><a href="" class="menu-item">
                <div>dizajn</div>
                <img src="{{ sitebase }}assets/new/img/downarrow.svg" alt="">
            </a></li>
        </ul>
    </nav>
    <div class="tel">
        <img src="{{ sitebase }}assets/new/img/tel.svg" alt="">
        <a href="tel:+421948141840">+421 948 141 840</a>
    </div>
    <div class="right">
        <div class="heart">
            <img src="{{ sitebase }}assets/new/img/heart.svg" alt="heart">
            <div class="num">0+</div>
        </div>
        <div class="eye">
            <img src="{{ sitebase }}assets/new/img/eye.svg" alt="">
        </div>
        <div class="menu">
            <div class="label">
                menu
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</header>