<!DOCTYPE html>
<html lang="en">
    {% set sitebase = 'https://familyhouse.sk/' %}

    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekty Domov - Family House 2020</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ sitebase }}assets/css/vendor/swiper.min.css">

    <link rel="stylesheet" href="{{ sitebase }}assets/new/css/simplebar.css">
    <link rel="stylesheet" href="{{ sitebase }}assets/new/css/main.css?=ver{{ random(1, 100) }}">
</head>
<body>
    <div class="page-container">
        
        {% embed "new/header/header.html" %}
        {% endembed %}

        <div class="page" id="frontpage">
            <div class="top-wrap">
            {% for block in entry.universalEntry.all() %}

                {% switch block.type %}
                    
                    {% case 'fullWidthImage' %}
                    <div class="fullWidthImage">
                        {% set s = block.obrazok.one() %}
                        <img src="{{ s.getUrl('housedetailgallerythumbs1600w') }}" width="{{ s.getWidth('housedetailgallerythumbs1600w') }}" height="{{ s.getHeight('housedetailgallerythumbs1600w') }}" alt="">
                    </div>
                    {% case 'text' %}
                    <div class="text">
                        {{ block.text }}
                    </div>

                {% endswitch %}
            {%endfor%}
            </div>

            <div class="links">
            {% for block in entry.universalEntry.all() %}

                {% switch block.type %}
                    {% case 'odkaz' %}
                    <a href="{{ block.ciel }}" class="link">{{ block.nadpis }}</a>
                    

                {% endswitch %}
            {%endfor%}
            </div>

            <div class="mid">
                {% for block in entry.universalEntry.all() %}

                    {% switch block.type %}
                        {% case 'textSObrazkom' %}
                        <div class="textSObrazkom">
                            {% set s = block.obrazok.one() %}
                            <img src="{{ s.getUrl('housedetailgallerythumbs1600w') }}" width="{{ s.getWidth('housedetailgallerythumbs1600w') }}" height="{{ s.getHeight('housedetailgallerythumbs1600w') }}" alt="" class="{{ block.poziciaObrazka }}">
                            <div class="textblock {{ block.poziciaObrazka }}">
                                {{ block.text }}
                            </div>
                        </div>
                        

                    {% endswitch %}
                {%endfor%}
            </div>

            <div class="text-blocks">
                {% set bullets = craft.entries().section('bullets').all() %}
                {% for bullet in bullets %}
                <a class="block" href="{{ bullet.bulletsurl }}">
                    <div class="title-row">
                        <div class="frame green">
                        </div>
                        <h3>
                            {{ bullet.title }}
                        </h3>
                    </div>
                    <div class="text-block">
                        {{ bullet.shortText }}
                    </div>
                    <div class="link-row">
                        <div class="more">
                            viac
                        </div>
                        <div class="arrow">
                            {% embed 'new/svg/arrow-red.svg' %}
                            {% endembed %}
                        </div>
                    </div>
                </a>
                <div class="line"></div>
                {% endfor %}
            </div>

            <div class="blog">
                {% set blog = craft.entries().section('blog').all() %}
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for e in blog %}
                        <div class="swiper-slide">
                            <a href="{{ e.url }}" class="entry">
                                <div class="title">
                                    <h3>
                                        {{ e.title }}
                                    </h3>
                                </div>
                                <div class="img">
                                    {% set ss = e.obrazok.one() %}
                                    <img src="{{ ss.getUrl('houseDetailGalleryThumbs320w') }}" width="{{ ss.getWidth('houseDetailGalleryThumbs320w') }}" height="{{ ss.getHeight('houseDetailGalleryThumbs320w') }}" alt="">
                                </div>
                                <div class="short">
                                    {{ e.shortText|striptags()|slice(0,100) ~ '...' }}
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="fade">
                </div>
            </div>
                


            
        </div>
    
    
    
    
    
    
    
        <footer class="frontpage">
            <div class="container">
                <div class="one">
                    <a class="line">
                        <img src="{{ sitebase }}assets/new/img/logo-white.svg" alt="home">
                    </a>
                    <div class="contact">
                        <div class="grp">
                            <div class="line">Radničné Námestie 5612/19</div>
                            <div class="line">92901 Dunajská Streda</div>
                        </div>
                        <div class="grp">
                            <a class="line" href="tel:+421948141840">+421 948 141 840</a>
                            <a href="mailto:office@familyhouse.sk" class="line">office@familyhouse.sk</a>
                        </div>
                        <div class="grp">
                            <div class="line">IČO: 51 970 139</div>
                            <div class="line">IČ DPH: SK 5100000970139</div>
                        </div>
                    </div>
                </div>
                <div class="two">
                    <a class="line cent">
                        <p>
                            Postavili sme domovy pre
                        </p>
                        <div class="numb">
                            300
                        </div>
                        <p>
                            rodín
                        </p>
                    </a>
                    <a class="line">
                        <div class="red-inline">270</div>
                        bytových projektov
                    </a>
                    <a class="line">
                        <div class="red-inline">20</div>
                        rokov na trhu
                    </a>
                    <div class="pins">
                        <img src="{{ sitebase }}assets/new/img/face.svg" alt="">
                        <img src="{{ sitebase }}assets/new/img/insta.svg" alt="">
                        <img src="{{ sitebase }}assets/new/img/linkedin.svg" alt="">
                        <img src="{{ sitebase }}assets/new/img/pinterest.svg" alt="">
                    </div>
                </div>
                <div class="three">
                    <div class="grp">
                        <a href="" class="line">O nás / náš team</a>
                        <a href="" class="line">Cenník služieb</a>
                        <a href="" class="line">Cenová ponuka do 3 dní</a>
                    </div>
                    <div class="grp">
                        <a href="" class="line">Spýtajte sa</a>
                        <a href="" class="line">Katalóg</a>
                        <a href="" class="line">Registrácia do Family Klubu</a>
                    </div>
                    <div class="grp">
                        <a href="" class="line">FAQ</a>
                        <a href="" class="line">Cookies</a>
                        <a href="" class="line">Obchodné podmienky</a>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
        
        
            <script src="{{ sitebase }}assets/js/vendor/jquery-3.2.1.min.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/jquery-waypoints-and-sticky.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/simplebar.min.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/vue.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/vue-router.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/swiper.min.js"></script>
            <script src="{{ sitebase }}assets/new/js/main.js?=ver{{ random(1, 100) }}"></script>
        
            <script>

                $('.block:nth-child(3) .title-row .frame').removeClass('green');
                $('.block:nth-child(3) .title-row .frame').addClass('gray');
                $('.block:nth-child(5) .title-row .frame').removeClass('green');
                $('.block:nth-child(5) .title-row .frame').addClass('red');
                $('.block:nth-child(9) .title-row .frame').removeClass('green');
                $('.block:nth-child(9) .title-row .frame').addClass('gray');
                $('.block:nth-child(11) .title-row .frame').removeClass('green');
                $('.block:nth-child(11) .title-row .frame').addClass('red');



                var ref_swiper = new Swiper('.swiper-container', {
                    spaceBetween: 20,
                    slidesPerView: 5,
                    breakpoints: {
                        1440: {
                            slidesPerView: 3,
                        },
                        560: {
                            slidesPerView: 1,
                        }
                    }
                });                

                
        
            </script>
            {% embed 'new/cookies-embed.html'%}
            {% endembed %}
</body>
</html>