<!DOCTYPE html>
<html lang="en">
    {% set sitebase = 'https://familyhouse.sk/' %}

    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekty Domov - Family House 2020</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ sitebase }}assets/css/vendor/swiper.min.css">

    <link rel="stylesheet" href="{{ sitebase }}assets/new/css/simplebar.css">
    <link rel="stylesheet" href="{{ sitebase }}assets/new/css/main.css?=ver{{ random(1, 100) }}">
</head>
<body>
    <div class="page-container">
        
        {% embed "new/header/header.html" %}
        {% endembed %}

        <div class="page" id="multipage">
            
            {% embed "new/pages/page_sidebar.html" %}
            {% endembed %}


                <div class="multipage-container">
                    {% set entry = craft.entries().section('stavbaDomuNova').one() %}
                    <h1>
                        {{ entry.title }}
                    </h1>
                    <div class="stavba-domu">
                        
                        
                        {% for block in entry.universalEntry.all() %}
                            {% switch block.type %}

                                {% case 'text' %}
                                <div class="top-text">
                                    <div class="center">
                                        {{ block.text }}
                                    </div>
                                </div>

                                {% case 'galeria' %}
                                <div class="prevedenia-domov">
                                    {% set i = block.obrazky %}
                                    <section>
                                        <div class="left">
                                            <img src="{{ i.first().getUrl('houseDetailGalleryThumbs800w') }}" width="{{ i.first().getWidth('houseDetailGalleryThumbs800w') }}" height="{{ i.first().getHeight('houseDetailGalleryThumbs800w') }}" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title-row">
                                                <img src="{{ sitebase }}assets/new/img/brickicon-blue.svg" alt="">
                                                <h2>
                                                    {{ craft.entries().section('prevedenia').level(1).first().title }}
                                                </h2>
                                            </div>
                                            <div class="items">
                                                {% for row in craft.entries().section('prevedenia').level(1).first().houseAttrs %}
                                                    <div class="item">
                                                        <div class="num">
                                                            {{ loop.index }}
                                                        </div>
                                                        <div class="label">
                                                            {{ row.attribute }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a href="{{siteUrl}}spytajte" class="btn">
                                                Mám záujem
                                            </a>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="left">
                                            <img src="{{ i.nth(1).getUrl('houseDetailGalleryThumbs800w') }}" width="{{ i.nth(1).getWidth('houseDetailGalleryThumbs800w') }}" height="{{ i.nth(1).getHeight('houseDetailGalleryThumbs800w') }}" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title-row">
                                                <img src="{{ sitebase }}assets/new/img/holodomicon-blue.svg" alt="">
                                                <h2>
                                                    {{ craft.entries().section('prevedenia').level(1).nth(1).title }}
                                                </h2>
                                            </div>
                                            <div class="items">
                                                {% for row in craft.entries().section('prevedenia').level(1).first().houseAttrs %}
                                                    <div class="item">
                                                        <div class="num">
                                                            {{ loop.index }}
                                                        </div>
                                                        <div class="label">
                                                            {{ row.attribute }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                    
                                                {% for row in craft.entries().section('prevedenia').level(1).nth(1).houseAttrs %}
                                                <div class="item">
                                                    <div class="num">
                                                        {{ loop.index }}
                                                    </div>
                                                    <div class="label">
                                                        {{ row.attribute }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <a href="{{siteUrl}}spytajte" class="btn">
                                                Mám záujem
                                            </a>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="left">
                                            <img src="{{ i.nth(2).getUrl('houseDetailGalleryThumbs800w') }}" width="{{ i.nth(2).getWidth('houseDetailGalleryThumbs800w') }}" height="{{ i.nth(2).getHeight('houseDetailGalleryThumbs800w') }}" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title-row">
                                                <img src="{{ sitebase }}assets/new/img/completicon-blue.svg" alt="">
                                                <h2>
                                                    {{ craft.entries().section('prevedenia').level(1).nth(2).title }}
                                                </h2>
                                            </div>
                                            <div class="items">
                                                {% for row in craft.entries().section('prevedenia').level(1).first().houseAttrs %}
                                                    <div class="item">
                                                        <div class="num">
                                                            {{ loop.index }}
                                                        </div>
                                                        <div class="label">
                                                            {{ row.attribute }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                    
                                                {% for row in craft.entries().section('prevedenia').level(1).nth(1).houseAttrs %}
                                                <div class="item">
                                                    <div class="num">
                                                        {{ loop.index }}
                                                    </div>
                                                    <div class="label">
                                                        {{ row.attribute }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                    
                                                {% for row in craft.entries().section('prevedenia').level(1).nth(2).houseAttrs %}
                                                <div class="item">
                                                    <div class="num">
                                                        {{ loop.index }}
                                                    </div>
                                                    <div class="label">
                                                        {{ row.attribute }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <a href="{{siteUrl}}spytajte" class="btn">
                                                Mám záujem
                                            </a>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="left">
                                            <img src="{{ i.nth(3).getUrl('houseDetailGalleryThumbs800w') }}" width="{{ i.nth(3).getWidth('houseDetailGalleryThumbs800w') }}" height="{{ i.nth(3).getHeight('houseDetailGalleryThumbs800w') }}" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title-row">
                                                <img src="{{ sitebase }}assets/new/img/housekey-blue.svg" alt="">
                                                <h2>
                                                    {{ craft.entries().section('prevedenia').level(1).nth(3).title }}
                                                </h2>
                                            </div>
                                            <div class="items">
                                                {% for row in craft.entries().section('prevedenia').level(1).first().houseAttrs %}
                                                    <div class="item">
                                                        <div class="num">
                                                            {{ loop.index }}
                                                        </div>
                                                        <div class="label">
                                                            {{ row.attribute }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                    
                                                {% for row in craft.entries().section('prevedenia').level(1).nth(1).houseAttrs %}
                                                <div class="item">
                                                    <div class="num">
                                                        {{ loop.index }}
                                                    </div>
                                                    <div class="label">
                                                        {{ row.attribute }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                
                                                {% for row in craft.entries().section('prevedenia').level(1).nth(2).houseAttrs %}
                                                <div class="item">
                                                    <div class="num">
                                                        {{ loop.index }}
                                                    </div>
                                                    <div class="label">
                                                        {{ row.attribute }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                    
                                                {% for row in craft.entries().section('prevedenia').level(1).nth(3).houseAttrs %}
                                                <div class="item">
                                                    <div class="num">
                                                        {{ loop.index }}
                                                    </div>
                                                    <div class="label">
                                                        {{ row.attribute }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <a href="{{siteUrl}}spytajte" class="btn">
                                                Mám záujem
                                            </a>
                                        </div>
                                    </section>
                                </div>

                            {% endswitch %}
                        {% endfor %}
                        
                        
                        
                        
                    </div>

    
                </div>
            
            
            </div>
    
    
    
    
    
    
    
            {% embed "new/footer.twig" %}
            {% endembed %}
        
        </div>
        
        
            <script src="{{ sitebase }}assets/js/vendor/jquery-3.2.1.min.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/jquery-waypoints-and-sticky.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/simplebar.min.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/vue.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/vue-router.js"></script>
            <script src="{{ sitebase }}assets/js/vendor/swiper.min.js"></script>
            <script src="{{ sitebase }}assets/new/js/main.js?=ver{{ random(1, 100) }}"></script>
        
            <script>
                 var swiper = new Swiper('.swiper-container', {
                     slidesPerView: 4,
                     spaceBetween: 20,
                        pagination: {
                            el: '.pagination',
                        },
                    breakpoints: {
                        1400: {
                            slidesPerView: 2,
                        }
                    },
                    });

                $('.obrazok .tlacitko').click(function(){
                    $(this).siblings('img').addClass('hide');
                    $(this).addClass('hide');
                });

                $('a.title > div.label').click(function(){
                    if ($(this).children('.mark').html() == '-') {
                        $(this).children('.mark').html('+')
                    };
                });



            // set item numbers
            $('.prevedenia-domov .right').each(function(){
                $(this).find('.num').each(function(index){
                    $(this).html(index + 1);
                });
            });

            

            // custom hover
            $('.items .item').hover(function(){
                var idx = $(this).index() + 1;
                $('.items .item:nth-child('+idx+')').addClass('gray-hover');
            },function(){
                var idx = $(this).index() + 1;
                $('.items .item:nth-child('+idx+')').removeClass('gray-hover');
            });
            // click
            $('.items .item').click(function(){
                var idx = $(this).index() + 1;
                $('.items .item').removeClass('gray-click');
                $('.items .item:nth-child('+idx+')').addClass('gray-click');
            });
        
            </script>

{% embed 'new/cookies-embed.html'%}
{% endembed %}
</body>
</html>