<!DOCTYPE html>
<html lang="en">
    {% set sitebase = 'https://familyhouse.sk/' %}

    {% set entry = craft.entries().section('dom').slug(craft.app.request.getSegment(2)).one() %}

    {% set dom = entry %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekty Domov - Family House 2020</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ sitebase }}assets/css/vendor/swiper.min.css">

    <link rel="stylesheet" href="{{ sitebase }}assets/new/css/simplebar.css">
    <link rel="stylesheet" href="{{ sitebase }}assets/new/css/main.css?=ver{{ random(1, 100) }}">
</head>
<body>
    <div class="page-container">

        {% embed "new/header/header.html" %}
        {% endembed %}
        
        <div class="page" id="poradenstvo">
            
            {% embed "new/checkout_sidebar.html" %}
            {% endembed %}

            <div class="poradenstvo-container">

                {% embed "new/checkout-top-nav.html" %}
                {% endembed %}

                <form class="stavba-domu-form" method="post" action="{{sitebase}}services/stavba-domu.php" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <div class="col">
                        <h2>
                            kontaktné údaje
                        </h2>
                        <input type="hidden" name="action" value="contactForm/message/add">
                        <input type="hidden" name="formId" value="1">
                        <input type="hidden" name="redirect" value="dakujeme">
                        <input type="hidden" class="captcha-input" name="g-recaptcha-response" value="0">
                        <input type="hidden" name="dom" value="{{entry.title}}">

                        <div action="" class="poradenstvo">
                            <div class="row">
                                <input type="text" name="name" id="Name" placeholder="Vaše meno a priezvisko*" required>
                            </div>
                            <div class="row">
                                <input type="text" name="address" id="Address" placeholder="Vaša adresa*" required>
                            </div>
                            <div class="row">
                                <input type="text" name="city" id="City" placeholder="Mesto*" required>
                            </div>
                            <div class="row">
                                <input type="text" name="psc" id="psc" placeholder="PSČ*" required>
                            </div>
                            <div class="row">
                                <input type="text" name="telephone" id="Telephone" placeholder="Telefónne číslo" required>
                            </div>
                            <div class="row">
                                <input type="text" name="email" id="E-mail" placeholder="E-mailová adresa*" required>
                            </div>
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Poznámky; napr. kedy Vám môžeme zavolať"></textarea>
                            <div class="row">
                                <div class="agree">
                                    <input type="checkbox" name="sales" id="sales" checked>
                                    <label for="sales">Súhlasím s <a href="">obchodnými podmienkami</a></label>
                                </div>
                            </div>
                            <button type="submit" value="odoslať" class="send-btn" disabled>odoslať</button>
                        </div>
                    </div>
                    <div class="col">
                        <h2>
                            Lokalita plánovanej stavby
                        </h2>
                        <div class="row">
                            <input type="text" name="mesto" id="Mesto" placeholder="Mesto">
                        </div>
                        <div class="row">
                            <input type="text" name="okres" id="Okres" placeholder="Okres">
                        </div>
                        <h2>
                            Požadované prevedenie
                        </h2>
                        
                        <div class="chk-col">
                            <div class="item">
                                <label class="chb" for="hruba-stavba">
                                    <input type="checkbox" name="hruba-stavba" id="hruba-stavba">
                                    <div class="label">Hrubá stavba</div>
                                </label>
                            </div>
                            <div class="item">
                                <label class="chb" for="holodom">
                                    <input type="checkbox" name="holodom" id="holodom">
                                    <div class="label">Holodom</div>
                                </label>
                            </div>
                            <div class="item">
                                <label class="chb" for="komplet">
                                    <input type="checkbox" name="komplet" id="komplet">
                                    <div class="label">Komplet</div>
                                </label>
                            </div>
                            <div class="item">
                                <label class="chb" for="dom-na-kluc">
                                    <input type="checkbox" name="dom-na-kluc" id="dom-na-kluc">
                                    <div class="label">Dom na kľúč</div>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </form>


            </div>

            <div class="step-sidebar">
                <div class="inner-wrapper">
                    <div class="steps">
                        <div class="label">
                            len
                        </div>
                        <div class="nums">
                            <div class="num active">
                                1
                            </div>
                        </div>
                        <div class="label">
                            krok
                        </div>
                    </div>
                    {% set mem = craft.entries().section('member').slug('attila-forgacs').one() %}
                    {% set ss = mem.personalPhoto.first() %}
                    <div class="member">
                        <div class="img-wrap">
                            <img src="{{ ss.getUrl('houseDetailGalleryThumbs320w') }}" width="{{ ss.getWidth('houseDetailGalleryThumbs320w') }}" height="{{ ss.getHeight('houseDetailGalleryThumbs320w') }}" alt="">
                        </div>
                        <div class="position">
                            <div class="bold uppercase row">
                                {{ mem.function }}
                            </div>
                            <div class="bold row">
                                {{ mem.memberName }}
                            </div>
                            <div class="row">
                                {{ mem.memberPhone }}
                            </div>
                            <div class="row">
                                {{ mem.memberEmail }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>







        {% embed "new/footer-checkout.html" %}
        {% endembed %}
    
    </div>
    
    
        <script src="{{ sitebase }}assets/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/jquery-waypoints-and-sticky.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/simplebar.min.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/vue.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/vue-router.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/swiper.min.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/three.js"></script>
        <script src="{{ sitebase }}assets/js/vendor/panolens.js"></script>
        <script src="{{ sitebase }}assets/new/js/main.js?=ver{{ random(1, 100) }}"></script>
    
        <script>

            // set checks
            $('.chk-col input[type="checkbox"]').click(function(){
                var curr = $('.chk-col input[type="checkbox"]:checked').parents('.item').index();
                
                if (curr >= 0) {
                    for (var i = curr; i >= 0; i--) {
                        $('.chk-col .item').eq(i).find('input').prop('checked', true);
                    }
                }
            });

            // calc sale
            var cena = $('.cena').html();
            var sale = Math.floor(cena * 0.01);
            var finprice = cena - sale;
            $('.cena').first().html(String(cena).replace(/(.)(?=(\d{3})+$)/g,'$1 '));
            $('.big-cena').first().html(String(finprice).replace(/(.)(?=(\d{3})+$)/g,'$1 ') + ' &euro;');
            $('.big-red').first().html(String(sale).replace(/(.)(?=(\d{3})+$)/g,'$1 '));
            
        </script>
        {% embed '_components/security/reCaptcha' %}{% endembed %}

        {% embed 'new/cookies-embed.html'%}
    {% endembed %}
</body>
</html>